/* ==========
GENERAL RULES
========== */

/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set font-size to 62.5% to easy maintain that 10px = 1rem */
html {
    font-size: 62.5%;
}

body {
    background: -webkit-linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    background: linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    color: #fff;
}

/* class for quick center the heading or paragraph */
.text-center {
    text-align: center;
}

