/* ==========
GENERAL RULES
========== */

/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set font-size to 62.5% to easy maintain that 10px = 1rem */
html {
    font-size: 62.5%;
}

body {
    background: -webkit-linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    background: linear-gradient(90deg, rgb(31, 70, 144), rgb(35, 25, 85));
    color: #fff;
}

/* class for quick center the heading or paragraph */
.text-center {
    text-align: center;
}

/* Reusable grid template */
.container {
    max-width: 130em;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.left-box,
.right-box {
    padding: 4.8rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outer {
    padding: 9.6rem 0;
}

#intro-container {
    background-color: #1f4690;
    border: 2px solid #231955;
}

